<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oliver Fennelly</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="">Oliver Fennelly</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <header>
      <div class="container header">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-text">
              <hr class="divide-bar">
              <span class="name">Oliver Fennelly</span>
              <hr class="divide-bar">
              <span class="occupation">Web Developer</span><br>
              <span class="icon">
                <a href="https://github.com/olifen" target="_blank"><img class="github-icon" src="images/github.png" alt=""></a>
                <a href="https://uk.linkedin.com/in/oliver-fennelly" target="_blank"><img class="icon" src="images/linkedin.png" alt=""></a>
                <a href="mailto:oliverfennellyuk@gmail.com"><img class="icon" src="images/email.png" alt=""></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="portfolio">
      <div class="container portfolio">
        <div class="row">
          <div class="col-lg-12 text-center">
            <hr class="divide-bar">
            <h2 class="portfolio-title">Portfolio</h2>
            <hr class="divide-bar">
          </div>
        </div>
        <div class="row portfolio-images">
          <div class="div-responsive col-lg-6">
            <h3 class="project-title">Flags</h3>
            <img src="images/flags.png" class="img-responsive" alt="">

            <p>A flashcard-based trivia game in which players have turns guessing flags of the world. Designed as two-player for a competitive edge. Solo project.</p>
            <p><strong>Technologies used: HTML, CSS, JavaScript</strong></p>

            <a class="btn site btn-primary" href="https://floating-river-94798.herokuapp.com/" target="_blank">Visit Site</a>
            <a class="btn code btn-primary" href="https://github.com/olifen/WDI_LDN_PROJECT-1" target="_blank">View Code</a>
          </div>
          <div class="div-responsive col-lg-6">
            <h3 class="project-title">TimeTravlr</h3>
            <img src="images/timetravlr.png" class="img-responsive" alt="">

            <p>A Node.js application using the Google Maps API to deliver a gamified educational experience. Users can explore and learn about historical events in different time periods. Group project.</p>
            <p><strong>Technologies used: HTML, CSS, Bootstrap, JavaScript, jQuery, Node.js, Express, MongoDB, Google Maps API, Wikipedia API</strong></p>

            <a class="btn site btn-primary" href="http://timetravlr.herokuapp.com/" target="_blank">Visit Site</a>
            <a class="btn code btn-primary" href="https://github.com/janemaguire/WDI-23-project-two" target="_blank">View Code</a>
          </div>
          <div class="div-responsive col-lg-6">
            <h3 class="project-title">Elfy</h3>

            <img src="images/elfy.png" class="img-responsive" alt="">
            <p>An Angular MEAN stack Secret Santa application with full CRUD actions. Utilised the Amazon and Etsy APIs to provide gift suggestions and incorporated SendGrid to dispatch emails to users. Group project.</p>
            <p><strong>Technologies used: HTML, SCSS, Skeleton, JavaScript, AngularJS, Gulp, Bower, JSON, Amazon API, Etsy API</strong></p>

            <a class="btn site btn-primary" href="https://elfy-secretsanta.herokuapp.com/" target="_blank">Visit Site</a>
            <a class="btn code btn-primary" href="https://github.com/kiwayne-campbell/WDI-23_Project3-v2" target="_blank">View Code</a>
          </div>
          <div class="div-responsive col-lg-6">
            <h3 class="project-title">Kickabout</h3>
            <img src="images/kickabout.png" class="img-responsive" alt="">

            <p>A RESTFUL app featuring a Ruby on Rails backend and an Angular frontend. Full CRUD actions available for users. Used the Google Maps and the Google Places API to create an app to facilitate recreational football. Built mobile-first. Solo project.</p>
            <p><strong>Technologies used: HTML, SCSS, Bootstrap, JavaScript, AngularJS, SQL, Ruby on Rails, Google Maps API, Google Places API</strong></p>

            <a class="btn site btn-primary" href="https://kickabout-app.herokuapp.com" target="_blank">Visit Site</a>
            <a class="btn code btn-primary" href="https://github.com/olifen/final-project-frontend" target="_blank">View Code</a>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container about">
        <div class="row">
          <div class="col-lg-12 text-center">
            <hr class="divide-bar">
            <h2 class="about-title">About</h2>
            <hr class="divide-bar">
            <p class="about-content">I am a graduate of the Web Development Immersive course at General Assembly, having previously worked as an administrator at the Football Association. Prior to that, I read Archaeology at the University of Bristol. My role at the FA was focused on facilitating people playing recreational football. I was passionate about creating a great environment in which people could pursue their hobby. Technology is so prevalent in our lives and changing our futures, so I wanted to be at the forefront of the industry. Development is a fantastic way to push boundaries and exhibit my creativity. I am seeking a Junior Developer role at a company with a vision to enrich people’s lives and the world at large.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact"class="text-center contact">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-4">
            <h3 class="contact-title">Contact Me</h3><br>
            <a href="#">oliverfennellyuk@gmail.com</a><br>
            <span class="icon">
              <a href="https://github.com/olifen" target="_blank"><img class="github-icon" src="images/github.png" alt=""></a>
              <a href="https://uk.linkedin.com/in/oliver-fennelly" target="_blank"><img class="icon" src="images/linkedin.png" alt=""></a>
              <a href="mailto:oliverfennellyuk@gmail.com"><img class="icon" src="images/email.png" alt=""></a>
            </span>
          </div>
        </div>
      </div>
    </section>

    <footer class="text-center footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              Copyright &copy; Oliver Fennelly 2017
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
